
  @font-face {
    font-family: myFirstFont;
    src:url("../font/Baloo_Bhaina/BalooBhaina-Regular.ttf");
}
  @font-face {
    font-family: mySecondFont;
    src:url(font/Fjalla_One/FjallaOne-Regular.ttf);
}
  @font-face {
    font-family: myThirdFont;
    src:url("../font/Pacifico.ttf");
}
body {
      font: 400 15px myFirstFont, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
.logo {
      color: #286bce;
      width: 30%;
      background-image: url
  }
.navbar {
      padding: 9px;
      margin-bottom: 0;
      background-color: #1c9287;
      z-index: 9999;
      border: 0;
      font-size: 12px;
      line-height: 1.428571;
      letter-spacing: 4px;
      border-radius: 0;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff;
  }
.navbar-default .navbar-nav>li>a {
    color: white;
}
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #286bce;
      background-color: #fff;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff ;
  }


.active_tab{
  background-color:blue;
}

.skill_carousel{
  /* padding: 1%; */
  width: 97%;
  /* top: 2px; */
  /* position:relative; */
  margin:auto;
  text-align:center;
}
.tabs{
  margin:auto;
  text-align:center;
  width:100%;
}
.tabs li{
  color:white;
  /* font-family: 'Quicksand'; */
  border-top-left-radius: .6em;
  border-top-right-radius: .6em;
  /* height: 39px; */
  display: inline-block;
  padding: 1% 2%;
  margin-top:0;
  font-size: 18px;
  background-color:  black;
}
.tabs li:hover{

  
}
.jumbotron{
  background-color: rgb(26, 123, 114);
  height: 250px;
}
.tab_content{
  background: rgb(255, 255, 255);
  width: 88%;
  text-align:center;
  margin:auto;
  /* font-family: 'Quicksand'; */
  font: 16px;
  /* height: 300px; */
  color: #1c9287;
  padding: 3%;
  border: 1px solid #1c9287;
  border-radius: 10px;
}
.ftr{
    background-color: #1c9287;
    margin: 19px 0px 0px 0px;
    color: wheat;
    border: 0;
    /* line-height: 25px; */
    /* padding: 1px; */
    }    
.fa:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
.fa {
     color: white;
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
.fonty{
    font-family: myThirdFont;
    color: white;
}
.jumbotron h1{
    color: white;
}
.event-block1{
  margin-left: 12%;
  margin-bottom: 2%;
  background-color:#fff;
  height: 112px;
  text-align: center;
  padding: 0%;
  width: 76%;
  /* max-width: 100%; */
  cursor:pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.event-block1 .eCol{
  dispaly:inline-block;
}
.event-block1:nth-child(even) .event-date{
  background-color:#2c3e50;
}
.event-date1{
  background-color: #1c9287;
  color:#fff;
  height:100%;
  width: 154px;
  text-align:center;
  vertical-align:middle;
  float:left;
}
.event-date1 .eDate{
  font-size: 39px;
  /* font-weight:100; */
}
.event-date1 .eMonth{
  font-weight:bold;
}
.event-details1{
  padding: 1%;
  /* font-size:12px; */
  float:left;
}
.event-name1{
  font-weight:bold;
  margin:
}
.event-action1{
  float:right;
  width: 10%;
  height:100%;
  text-align:center;
  background-color:#e7e7e7;
}

.navbar-nav li a{
    color: white!important;
    font-size: 18px;
    letter-spacing: 0px;
}
.navbar-nav li a:hover{
    background-color: white!important;
   color: #1c9287!important;
}