@font-face {
  font-family: myFirstFont;
  src:url("../font/Baloo_Bhaina/BalooBhaina-Regular.ttf");
}
@font-face {
  font-family: mySecondFont;
  src:url(font/Fjalla_One/FjallaOne-Regular.ttf);
}
@font-face {
  font-family: myThirdFont;
  src:url("../font/Pacifico.ttf");
}
body {
    font: 400 15px myFirstFont, sans-serif;
    line-height: 1.8;
    color: #818181;
/   background-image: url("../font/Baloo_Bhaina/BalooBhaina-Regular.ttf")
}

html {
height: 100%;
box-sizing: border-box;
}
.logo {
    /* color: #286bce; */
    /* width: 30%; */
    background-image: url;
}
.fonti{
color: #555;
  font-family: myThirdFont;
  /*padding-top: 10%;*/
  padding-bottom: 5%;
  text-align: center;
}
.par{
  color: white;
}
.bton{
      margin-left: 47%;
      background-color: #314644;
      color: #fff;
}
.btni{
   /* margin-bottom: 45%; */
   margin-left: 119%;
   /* color: #314644; */
   font-size: 27px;
}
h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
p {
margin-bottom: 20px;
/* font-size: 17px; */
line-height: 2;
color: white;
}

.navbar {
    padding: 9px;
    margin-bottom: 0;
    background-color: #1c9287;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    line-height: 1.428571;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #286bce;
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff ;
}
input[type=file] {
  /* width: 73%; */
  /* margin-left: 12%; */
  padding: 7%;
  /* font-size: 8pt; */
  /* vertical-align: middle; */
  /* font-family: sans-serif; */
}
h5{
  color: white;
}
.well-sm{
  background-color: #1c9287;
}
.txt-railway{
      margin-bottom: -2%;
}
.post-module {
position: relative;
z-index: 1;
display: block;
background: #FFFFFF;
min-width: 270px;
height: 350px;
-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
-webkit-transition: all 0.3s linear 0s;
-moz-transition: all 0.3s linear 0s;
-ms-transition: all 0.3s linear 0s;
-o-transition: all 0.3s linear 0s;
transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
-webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
transform: scale(1.1);
opacity: .6;
}
.post-module .thumbnail {
background: #000000;
height: 350px;
overflow: hidden;padding: 0;
}
.post-module .thumbnail .date {
position: absolute;
top: 20px;
right: 20px;
z-index: 1;
background: #1c9287;
width: 55px;
height: 55px;
padding: 12.5px 0;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
color: #FFFFFF;
font-weight: 700;
text-align: center;
-webkti-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.post-module .thumbnail .date .day {
font-size: 18px;
  line-height: 31px;
  color: #fff;
}
.post-module .thumbnail .date .month {
font-size: 12px;
text-transform: uppercase;
}
.post-module .thumbnail img {
display: block;
width: 120%;
-webkit-transition: all 0.3s linear 0s;
-moz-transition: all 0.3s linear 0s;
-ms-transition: all 0.3s linear 0s;
-o-transition: all 0.3s linear 0s;
transition: all 0.3s linear 0s;
}
.post-module .post-content {
position: absolute;
bottom: 0;
background: #FFFFFF;
width: 100%;
  padding: 0 30px;
-webkti-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
-moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
-ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
-o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {position: absolute;/* top: -34px; */left: 0;background: #1c9287;padding: 10px 15px;color: white !important;font-size: 14px;font-weight: 600;text-transform: uppercase;}
.post-module .post-content .title {
margin: 0;
padding: 0 0 10px;
color: #222 !important;
font-size: 24px !important;
font-weight: 700;    margin: 40px 0 0 !important;
}
.post-module .post-content .sub_title {
margin: 0;
padding: 0 0 20px;
color: #1c9287;
font-size: 20px;
font-weight: 400;
}
.post-module .post-content .description {
display: none;
color: #666666;
font-size: 14px;
line-height: 1.8em;
}
.post-module .post-content .post-meta {
margin: 0px 0px 10px;
color: #999999;
}
.post-module .post-content .post-meta .timestamp {
margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
color: #999999;
text-decoration: none;
}
.hover .post-content .description {
display: block !important;
height: auto !important;
opacity: 1 !important;
}

.container .column {
   width: 100%;
   padding: 0 25px;
   -webkti-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   float: left;
}
.container .column .demo-title {
margin: 0 0 15px;
color: #666666;
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
}
.container .info {
width: 300px;
margin: 50px auto;
text-align: center;
}
.container .info h1 {
margin: 0 0 15px;
padding: 0;
font-size: 24px;
font-weight: bold;
color: #333333;
}
.container .info span {
color: #666666;
font-size: 12px;
}
.container .info span a {
color: #000000;
text-decoration: none;
}
.container .info span .fa {
color: #f2b202;
}

@keyframes scroll {
0% {
  opacity: 1;
  transform: translateY(0);
}

100% {
  opacity: 0;
  transform: translateY(20px);
}
}
.scrollup {
  color: rgba(0,0,0,0.3);
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  position: fixed;
  display: none;
  bottom: 50px;
  right: 100px;
}
.ftr{
  background-color: #1c9287;
  margin: 0;
  border: 0;
  padding: 6px;
  }
.fa:hover {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
}
.fa {
   color: white;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   -o-transform: scale(0.8);
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
.page-header {
  background:#ccc;margin:0;}

.profile-head {
  width:100%;
  background-color: rgb(49, 70, 68);
  /* float: left; */
  border-radius: 21px;
  height: 37em;
  padding: 55px 5px;
  }
.profile-head img {
  height: 250px;
  width: 250px;
  margin:0 auto;
  border:5px solid #fff;
  border-radius: 19px;
  }
.profile-head h5 {
  width: 100%;
  padding:5px 5px 0px 5px;
  text-align:justify;
  font-weight: bold;
  color: #fff;
  font-size: 48px;
  text-transform:capitalize;
  margin-bottom: 0;
  }
.profile-head p {
  width: 100%;
  text-align: justify;
  padding:0px 5px 5px 5px;
  color: #fff;
  font-size: 26px;
  text-transform:capitalize;
  margin:0;
  }
.profile-head a {
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  color: #fff;
  /* font-size: 15px; */
  text-transform: capitalize;
  /* padding: 72px; */
}
.glyphicon {
  margin-bottom: 10px;margin-right: 10px;}
.custom-file-input::-webkit-file-upload-button {
visibility: hidden;
}
.custom-file-input::before {
content: 'select file';
display: inline-block;
background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
border: 1px solid #999;
border-radius: 3px;
padding: 4px 8px;
outline: none;
margin-left: 1%;
color: #1c9287;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 11pt;
}
.custom-file-input:hover::before {
border-color: black;
}
.custom-file-input:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#Demo
.pagination>li>a{
  color: #1c9287;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
.well {

  background-color: #1c9287;}

small {
display: block;
line-height: 1.428571429;
color: #999;
              }
.divi{
  height: 315px;
  background: #18756c;
}

.profile-head ul {
  list-style:none;padding: 0;}
.profile-head ul li {
  display:block;
  /* color:#ffffff; */
  padding:5px;
  /* font-weight: 400; */
  font-size: 24px;
  }
.profile-head ul li:hover span {
  color:rgb(0, 4, 51);}
.profile-head ul li span { color:#ffffff;padding-right: 10px;}
.profile-head ul li a {
  color:#ffffff;}
.profile-head h6 {
  width: 100%;text-align: center;font-weight: 100;color: #fff;font-size: 15px;text-transform: uppercase;margin-bottom: 0;}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.modal-body1 {
  position: relative;
  padding: 15px;
  height: 473px;}
a{color: white;
font-size: 24px;}
@font-face {
  font-family: myFirstFont;
  src:url("../font/Baloo_Bhaina/BalooBhaina-Regular.ttf");
}
@font-face {
  font-family: mySecondFont;
  src:url(font/Fjalla_One/FjallaOne-Regular.ttf);
}
@font-face {
  font-family: myThirdFont;
  src:url("../font/Pacifico.ttf");
}
body {
    font: 400 15px myFirstFont, sans-serif;
    line-height: 1.8;
    color: #818181;
/   background-image: url("../font/Baloo_Bhaina/BalooBhaina-Regular.ttf")
}

html {
height: 100%;
box-sizing: border-box;
}
.logo {
    /* color: #286bce; */
    /* width: 30%; */
    background-image: url;
}
.fonti{
color: #555;
  font-family: myThirdFont;
  /*padding-top: 10%;*/
  padding-bottom: 5%;
  text-align: center;
}
.par{
  color: white;
}
.bton{
      margin-left: 47%;
      background-color: #314644;
      color: #fff;
}
.btni{
   /* margin-bottom: 45%; */
   margin-left: 119%;
   /* color: #314644; */
   font-size: 27px;
}
h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
p {
margin-bottom: 20px;
/* font-size: 17px; */
line-height: 2;
color: white;
}

.navbar {
    padding: 9px;
    margin-bottom: 0;
    background-color: #1c9287;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    line-height: 1.428571;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #286bce;
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff ;
}
input[type=file] {
  /* width: 73%; */
  /* margin-left: 12%; */
  padding: 7%;
  /* font-size: 8pt; */
  /* vertical-align: middle; */
  /* font-family: sans-serif; */
}
h5{
  color: white;
}
.well-sm{
  background-color: #1c9287;
}
.txt-railway{
      margin-bottom: -2%;
}
.post-module {
position: relative;
z-index: 1;
display: block;
background: #FFFFFF;
min-width: 270px;
height: 350px;
-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
-webkit-transition: all 0.3s linear 0s;
-moz-transition: all 0.3s linear 0s;
-ms-transition: all 0.3s linear 0s;
-o-transition: all 0.3s linear 0s;
transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
-webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
transform: scale(1.1);
opacity: .6;
}
.post-module .thumbnail {
background: #000000;
height: 350px;
overflow: hidden;padding: 0;
}
.post-module .thumbnail .date {
position: absolute;
top: 20px;
right: 20px;
z-index: 1;
background: #1c9287;
width: 55px;
height: 55px;
padding: 12.5px 0;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
color: #FFFFFF;
font-weight: 700;
text-align: center;
-webkti-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.post-module .thumbnail .date .day {
font-size: 18px;
  line-height: 31px;
  color: #fff;
}
.post-module .thumbnail .date .month {
font-size: 12px;
text-transform: uppercase;
}
.post-module .thumbnail img {
display: block;
width: 120%;
-webkit-transition: all 0.3s linear 0s;
-moz-transition: all 0.3s linear 0s;
-ms-transition: all 0.3s linear 0s;
-o-transition: all 0.3s linear 0s;
transition: all 0.3s linear 0s;
}
.post-module .post-content {
position: absolute;
bottom: 0;
background: #FFFFFF;
width: 100%;
  padding: 0 30px;
-webkti-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
-moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
-ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
-o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {position: absolute;/* top: -34px; */left: 0;background: #1c9287;padding: 10px 15px;color: white !important;font-size: 14px;font-weight: 600;text-transform: uppercase;}
.post-module .post-content .title {
margin: 0;
padding: 0 0 10px;
color: #222 !important;
font-size: 24px !important;
font-weight: 700;    margin: 40px 0 0 !important;
}
.post-module .post-content .sub_title {
margin: 0;
padding: 0 0 20px;
color: #1c9287;
font-size: 20px;
font-weight: 400;
}
.post-module .post-content .description {
display: none;
color: #666666;
font-size: 14px;
line-height: 1.8em;
}
.post-module .post-content .post-meta {
margin: 0px 0px 10px;
color: #999999;
}
.post-module .post-content .post-meta .timestamp {
margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
color: #999999;
text-decoration: none;
}
.hover .post-content .description {
display: block !important;
height: auto !important;
opacity: 1 !important;
}

.container .column {
   width: 100%;
   padding: 0 25px;
   -webkti-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   float: left;
}
.container .column .demo-title {
margin: 0 0 15px;
color: #666666;
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
}
.container .info {
width: 300px;
margin: 50px auto;
text-align: center;
}
.container .info h1 {
margin: 0 0 15px;
padding: 0;
font-size: 24px;
font-weight: bold;
color: #333333;
}
.container .info span {
color: #666666;
font-size: 12px;
}
.container .info span a {
color: #000000;
text-decoration: none;
}
.container .info span .fa {
color: #f2b202;
}

@keyframes scroll {
0% {
  opacity: 1;
  transform: translateY(0);
}

100% {
  opacity: 0;
  transform: translateY(20px);
}
}
.scrollup {
  color: rgba(0,0,0,0.3);
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  position: fixed;
  display: none;
  bottom: 50px;
  right: 100px;
}
.ftr{
  background-color: #1c9287;
  margin: 0;
  border: 0;
  padding: 6px;
  }
.fa:hover {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
}
.fa {
   color: white;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   -o-transform: scale(0.8);
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
.page-header {
  background:#ccc;margin:0;}

.profile-head {
  width:100%;
  background-color: rgb(49, 70, 68);
  /* float: left; */
  border-radius: 21px;
  height: 37em;
  padding: 55px 5px;
  }
.profile-head img {
  height: 250px;
  width: 250px;
  margin:0 auto;
  border:5px solid #fff;
  border-radius: 19px;
  }
.profile-head h5 {
  width: 100%;
  padding:5px 5px 0px 5px;
  text-align:justify;
  font-weight: bold;
  color: #fff;
  font-size: 48px;
  text-transform:capitalize;
  margin-bottom: 0;
  }
.profile-head p {
  width: 100%;
  text-align: justify;
  padding:0px 5px 5px 5px;
  color: #fff;
  font-size: 26px;
  text-transform:capitalize;
  margin:0;
  }
.profile-head a {
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  color: #fff;
  /* font-size: 15px; */
  text-transform: capitalize;
  /* padding: 72px; */
}
.glyphicon {
  margin-bottom: 10px;margin-right: 10px;}
.custom-file-input::-webkit-file-upload-button {
visibility: hidden;
}
.custom-file-input::before {
content: 'select file';
display: inline-block;
background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
border: 1px solid #999;
border-radius: 3px;
padding: 4px 8px;
outline: none;
margin-left: 1%;
color: #1c9287;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 11pt;
}
.custom-file-input:hover::before {
border-color: black;
}
.custom-file-input:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#Demo
.pagination>li>a{
  color: #1c9287;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
.well {

  background-color: #1c9287;}

small {
display: block;
line-height: 1.428571429;
color: #999;
              }
.divi{
  height: 315px;
  background: #18756c;
}

.profile-head ul {
  list-style:none;padding: 0;}
.profile-head ul li {
  display:block;
  /* color:#ffffff; */
  padding:5px;
  /* font-weight: 400; */
  font-size: 24px;
  }
.profile-head ul li:hover span {
  color:rgb(0, 4, 51);}
.profile-head ul li span { color:#ffffff;padding-right: 10px;}
.profile-head ul li a {
  color:#ffffff;}
.profile-head h6 {
  width: 100%;text-align: center;font-weight: 100;color: #fff;font-size: 15px;text-transform: uppercase;margin-bottom: 0;}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.modal-body1 {
  position: relative;
  padding: 15px;
  height: 473px;}
a{color: white;
font-size: 24px;}
@font-face {
  font-family: myFirstFont;
  src:url("../font/Baloo_Bhaina/BalooBhaina-Regular.ttf");
}
@font-face {
  font-family: mySecondFont;
  src:url(font/Fjalla_One/FjallaOne-Regular.ttf);
}
@font-face {
  font-family: myThirdFont;
  src:url("../font/Pacifico.ttf");
}
body {
    font: 400 15px myFirstFont, sans-serif;
    line-height: 1.8;
    color: #818181;
/   background-image: url("../font/Baloo_Bhaina/BalooBhaina-Regular.ttf")
}

html {
height: 100%;
box-sizing: border-box;
}
.logo {
    /* color: #286bce; */
    /* width: 30%; */
    background-image: url;
}
.fonti{
color: #555;
  font-family: myThirdFont;
  /*padding-top: 10%;*/
  padding-bottom: 5%;
  text-align: center;
}
.par{
  color: white;
}
.bton{
      margin-left: 47%;
      background-color: #314644;
      color: #fff;
}
.btni{
   /* margin-bottom: 45%; */
   margin-left: 119%;
   /* color: #314644; */
   font-size: 27px;
}
h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
p {
margin-bottom: 20px;
/* font-size: 17px; */
line-height: 2;
color: white;
}

.navbar {
    padding: 9px;
    margin-bottom: 0;
    background-color: #1c9287;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    line-height: 1.428571;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #286bce;
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff ;
}
input[type=file] {
  /* width: 73%; */
  /* margin-left: 12%; */
  padding: 7%;
  /* font-size: 8pt; */
  /* vertical-align: middle; */
  /* font-family: sans-serif; */
}
h5{
  color: white;
}
.well-sm{
  background-color: #1c9287;
  height: 252px;
}
.txt-railway{
      margin-bottom: -2%;
}
.post-module {
position: relative;
z-index: 1;
display: block;
background: #FFFFFF;
min-width: 270px;
height: 350px;
-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
-webkit-transition: all 0.3s linear 0s;
-moz-transition: all 0.3s linear 0s;
-ms-transition: all 0.3s linear 0s;
-o-transition: all 0.3s linear 0s;
transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
-webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
transform: scale(1.1);
opacity: .6;
}
.post-module .thumbnail {
background: #000000;
height: 350px;
overflow: hidden;padding: 0;
}
.post-module .thumbnail .date {
position: absolute;
top: 20px;
right: 20px;
z-index: 1;
background: #1c9287;
width: 55px;
height: 55px;
padding: 12.5px 0;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
color: #FFFFFF;
font-weight: 700;
text-align: center;
-webkti-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.post-module .thumbnail .date .day {
font-size: 18px;
  line-height: 31px;
  color: #fff;
}
.post-module .thumbnail .date .month {
font-size: 12px;
text-transform: uppercase;
}
.post-module .thumbnail img {
display: block;
width: 120%;
-webkit-transition: all 0.3s linear 0s;
-moz-transition: all 0.3s linear 0s;
-ms-transition: all 0.3s linear 0s;
-o-transition: all 0.3s linear 0s;
transition: all 0.3s linear 0s;
}
.post-module .post-content {
position: absolute;
bottom: 0;
background: #FFFFFF;
width: 100%;
  padding: 0 30px;
-webkti-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
-moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
-ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
-o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {position: absolute;/* top: -34px; */left: 0;background: #1c9287;padding: 10px 15px;color: white !important;font-size: 14px;font-weight: 600;text-transform: uppercase;}
.post-module .post-content .title {
margin: 0;
padding: 0 0 10px;
color: #222 !important;
font-size: 24px !important;
font-weight: 700;    margin: 40px 0 0 !important;
}
.post-module .post-content .sub_title {
margin: 0;
padding: 0 0 20px;
color: #1c9287;
font-size: 20px;
font-weight: 400;
}
.post-module .post-content .description {
display: none;
color: #666666;
font-size: 14px;
line-height: 1.8em;
}
.post-module .post-content .post-meta {
margin: 0px 0px 10px;
color: #999999;
}
.post-module .post-content .post-meta .timestamp {
margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
color: #999999;
text-decoration: none;
}
.hover .post-content .description {
display: block !important;
height: auto !important;
opacity: 1 !important;
}

.container .column {
   width: 100%;
   padding: 0 25px;
   -webkti-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   float: left;
}
.container .column .demo-title {
margin: 0 0 15px;
color: #666666;
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
}
.container .info {
width: 300px;
margin: 50px auto;
text-align: center;
}
.container .info h1 {
margin: 0 0 15px;
padding: 0;
font-size: 24px;
font-weight: bold;
color: #333333;
}
.container .info span {
color: #666666;
font-size: 12px;
}
.container .info span a {
color: #000000;
text-decoration: none;
}
.container .info span .fa {
color: #f2b202;
}

@keyframes scroll {
0% {
  opacity: 1;
  transform: translateY(0);
}

100% {
  opacity: 0;
  transform: translateY(20px);
}
}
.scrollup {
  color: rgba(0,0,0,0.3);
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  position: fixed;
  display: none;
  bottom: 50px;
  right: 100px;
}
.ftr{
  background-color: #1c9287;
  margin: 0;
  border: 0;
  padding: 6px;
  }
.fa:hover {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
}
.fa {
   color: white;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   -o-transform: scale(0.8);
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
.page-header {
  background:#ccc;margin:0;}

.profile-head {
  width:100%;
  background-color: rgb(49, 70, 68);
  /* float: left; */
  border-radius: 21px;
  height: 37em;
  padding: 55px 5px;
  }
.profile-head img {
  height: 250px;
  width: 250px;
  margin:0 auto;
  border:5px solid #fff;
  border-radius: 19px;
  }
.profile-head h5 {
  width: 100%;
  padding:5px 5px 0px 5px;
  text-align:justify;
  font-weight: bold;
  color: #fff;
  font-size: 48px;
  text-transform:capitalize;
  margin-bottom: 0;
  }
.profile-head p {
  width: 100%;
  text-align: justify;
  padding:0px 5px 5px 5px;
  color: #fff;
  font-size: 26px;
  text-transform:capitalize;
  margin:0;
  }
.profile-head a {
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  color: #fff;
  /* font-size: 15px; */
  text-transform: capitalize;
  /* padding: 72px; */
}
.glyphicon {
  margin-bottom: 10px;margin-right: 10px;}
.custom-file-input::-webkit-file-upload-button {
visibility: hidden;
}
.custom-file-input::before {
content: 'select file';
display: inline-block;
background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
border: 1px solid #999;
border-radius: 3px;
padding: 4px 8px;
outline: none;
margin-left: 1%;
color: #1c9287;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 11pt;
}
.custom-file-input:hover::before {
border-color: black;
}
.custom-file-input:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#Demo
.pagination>li>a{
  color: #1c9287;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
.well {

  background-color: #1c9287;}

small {
display: block;
line-height: 1.428571429;
color: #999;
              }
.divi{
  height: 315px;
  background: #18756c;
}

.profile-head ul {
  list-style:none;padding: 0;}
.profile-head ul li {
  display:block;
  /* color:#ffffff; */
  padding:5px;
  /* font-weight: 400; */
  font-size: 24px;
  }
.profile-head ul li:hover span {
  color:rgb(0, 4, 51);}
.profile-head ul li span { color:#ffffff;padding-right: 10px;}
.profile-head ul li a {
  color:#ffffff;}
.profile-head h6 {
  width: 100%;text-align: center;font-weight: 100;color: #fff;font-size: 15px;text-transform: uppercase;margin-bottom: 0;}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.modal-body1 {
  position: relative;
  padding: 15px;
  height: 473px;}
a{color: white;
font-size: 24px;}
.modal{
  margin-top:40px;
}
.img-rounded {
    border-radius: 6px;
    height: 217px;
}
.well-sm1 {
    background-color: #314644;
    height: 280px;
}
